/* Root */
/* General */
/* Layout Containers */
/* Section styles groupe */
/* Media Queries */
/* Header */
/* Intro */
/* Contact */
/* deuxieme */
/* atouts */
/* Passions */

/* Root */
:root{
    --gradient: background: rgb(255, 222, 89);
        background: linear-gradient(90deg, rgba(255, 222, 89, 1) 0%, rgba(255, 145, 77, 1) 87%);

    --noir: #303030;
    --blanc: #fafafa;

    --ff:"Montserrat",sans-serif;
}

/* General */
* {
    font-family: var(--ff);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--gradient);
    max-width: 99%;
    margin: 5px auto;
}

h2,
h3,
p {
    color: var(--noir);
    margin: 10px 0;
}

h2 {
    text-align: center;
}

h3 {
    font-size: 1rem;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* Layout Containers */
.block {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.premier,
.deuxieme,
.intro {
    margin: 0 auto;
    width: 70%;
    gap: 1rem;
}

.img-container,
.exp-container,
.langues,
.atouts-container,
.formation-container,
.passions {
    width: 90%;
    margin: 20px auto;
}

/* Section styles groupe */
.noir,
.titleblack {
    background-color: var(--noir);
    padding: 5px 0;
}

.titleblack h2 {
    color: var(--blanc);
    font-weight: 400;
}

.premier,
.deuxieme {
    max-width: 45%;
    flex: 1 1 400px;
}

.intro {
    max-width: 100%;
}

/* Media Queries */
@media screen and (max-width: 700px) {
    .block {
        flex-direction: column;
        width: 100%;
    }

    .premier,
    .deuxieme {
        width: 100%;
        max-width: 700px;
    }
}

/* Header */
.header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

.noir {
    display: flex;
    max-width: 450px;
    max-height: 200px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    align-items: center;
    justify-content: center;
}

.noir h1 {
    font-size: 3.5rem;
    color: var(--blanc);
    text-align: center;
}

.header img {
    width: 200px;
}

@media screen and (max-width: 700px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .noir {
        width: 100%;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 0;
    }
}

/* Intro */
.intro {
    padding: 1rem 0;
    width: 90%;
}

/* Contact */
.contactcontainer {
    display: flex;
    gap: 1rem;
}

.img-container img {
    width: 30px;
    padding-left: 10px;
}

/* Deuxieme */
.hero-container h2 {
    font-size: 2.5rem;
}

.hero-container p {
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
}

/* Atouts */
.atout-lists ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.lists li {
    font-weight: bold;
}

/* Passions */
.passions ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}