/* Root */
:root {
    --gradient: linear-gradient(90deg, rgba(255, 222, 89, 1) 0%, rgba(255, 145, 77, 1) 87%);
    --noir: #303030;
    --blanc: #fafafa;
    --ff: "Montserrat", sans-serif;
}

/* General */
* {
    font-family: var(--ff);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: var(--gradient);
    max-width: 90%;
    margin: 5px auto;
    color: var(--noir);
    line-height: 1.5;
}

/* Typography */
h1,
h2,
h3 {
    margin: 10px 0;
    font-weight: bold;
    text-align: center;
}

h1 {
    font-size: 3.5rem;
    color: var(--blanc);
    background-color: var(--noir);
    padding: 1rem;
    border-radius: 10px;
}

h2 {
    font-size: 2rem;
    color: var(--blanc);
    background-color: var(--noir);
    padding: 0.5rem;
    border-radius: 8px;
}

h3 {
    font-size: 1.1rem;
    color: var(--noir);

    padding: 0.5rem;
    border-radius: 8px;
}

p,
li {
    font-size: 1rem;
    margin: 5px 0;
}

ul {
    list-style: none;
    padding: 0;
}

li img{
    width: 30px;
    height: 30px;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.noir {
    background-color: var(--noir);
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 50%;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}


@media screen and (max-width: 700px) {
    .header {
        flex-direction: column;
    }

    .noir {
        width: 100%;
            border-radius: 30px 0 30px 0;
    }
}

/* Sections */
.two-columns {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.column {
    flex: 1 1 calc(50% - 1rem);
}

.full-width {
    width: 100%;
}

/* Contact and experiences */
.contact ul,
.experiences article,
.interets ul {
    padding-left: 1rem;
}

.contact li,
.experiences li,
.interets li {
    margin: 10px 0;
}

.competences h2 {
    background-color: var(--noir);
    color: var(--blanc);
    padding: 0.5rem;
    border-radius: 8px;
}

.competences ul {
    padding-left: 1rem;
}

.competences li {
    margin: 5px 0;
}

@media screen and (max-width: 700px) {
    .two-columns {
        flex-direction: column;
    }

    .column {
        flex: 1 1 100%;
    }
}


/* Classe pour changer la couleur des icônes en vert */
.green {
    filter: brightness(0) saturate(100%) invert(51%) sepia(94%) saturate(5751%) hue-rotate(80deg) brightness(103%) contrast(101%);
}